@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}

body {
  font-family: "Alata", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

.hero {
  background-image: url("./images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 40px 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo1 {
  display: none;
}
.navLinks ul {
  flex: 1;
  list-style: none;
}

.navLinks ul li {
  display: inline-block;
  margin-left: 25px;
}

.navLinks ul li a {
  text-decoration: none;
  color: var(--White);
  font-family: "Alata", sans-serif;
  position: relative;
}

.navLinks ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -8px;
  background-color: var(--White);
  transition: width 0.4s;
}

.navLinks ul li a:hover::after {
  width: 100%;
}

.menuIcon {
  display: none;
}

/* -----------------------hero content----------- */
.title {
  margin-top: 15%;
  font-size: 80px;
  text-transform: uppercase;
  max-width: 700px;
  border: 2px solid var(--White);
  padding: 20px;
  color: var(--White);
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--White);
}
.attribution a {
  color: var(--White);
}

/* ------------------GALLERY------------------ */
.galleryFrame {
  padding: 10% 10%;
  background-color: var(--White);
}

.galleryInfo {
  display: flex;
  position: relative;
}

.gallery-image {
  flex-basis: 70%;
  max-width: 900px;
}

.gallery-image img {
  width: 100%;
}

.info-card {
  position: absolute;
  flex-basis: 30%;
  width: 630px;
  padding: 90px;
  background-color: var(--White);
  /* background-color: red; */
  right: -97px;
  z-index: 2;
  top: 45%;
}

.subtitle {
  text-transform: uppercase;
  font-size: 44px;
  color: var(--Black);
  letter-spacing: 3px;
  margin-bottom: 20px;
  max-width: 420px;
  font-weight: 400;
}

.cardInfo {
  color: var(--Dark-Gray);
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

/* ----------------------CREATIONS MEDIA-------------- */

.creationsMedia {
  padding: 20px 10%;
}

.topCreations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.subtitle2 {
  font-size: 28px;
}

.seeBtn {
  border: 1px solid var(--Black);
  outline: 0;
  padding: 8px 25px;
  background: transparent;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 3px;
  cursor: pointer;
}

.seeBtn:hover {
  background-color: var(--Black);
  color: var(--White);
}

.frame2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.gallery1 {
  padding: 20px;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  position: relative;
  color: var(--White);
  max-height: 100%;
  height: 400px;
  width: min(50%, 280px);
  position: relative;
  cursor: pointer;
}

.coverGallery {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  z-index: 3;
  cursor: pointer;
  transition: height 0.6s;
}

.gallery1:hover .coverGallery {
  height: 400px;
}

.galleryText {
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  max-width: 130px;
  font-size: 25px;
}

.userGallery1 {
  background-image: url("./images/desktop/image-deep-earth.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.userGallery2 {
  background-image: url("./images/desktop/image-night-arcade.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.userGallery3 {
  background-image: url("./images/desktop/image-soccer-team.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.userGallery4 {
  background-image: url("./images/desktop/image-grid.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.userGallery5 {
  background-image: url("./images/desktop/image-from-above.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.userGallery6 {
  background-image: url("./images/desktop/image-pocket-borealis.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.userGallery7 {
  background-image: url("./images/desktop/image-curiosity.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.userGallery8 {
  background-image: url("./images/desktop/image-fisheye.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

footer {
  background-color: var(--Black);
}

.footerFrame {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  color: var(--White);
  font-family: "Alata", sans-serif;
}

.footerFrame .logo {
  width: 80px;
  margin-bottom: 30px;
}

.footerFrame ul li {
  display: inline-block;
  margin-right: 10px;
}

.footerFrame ul li a {
  color: var(--White);
  font-size: 10px;
  text-decoration: none;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  position: relative;
}

.leftFooter ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -8px;
  background-color: var(--White);
  transition: width 0.4s;
}

.leftFooter ul li a:hover::before {
  width: 100%;
}

.rightFooter {
  text-align: right;
}

.socialIcons {
  margin-bottom: 30px;
}

.socialIcons .fa-brands {
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}

.socialIcons .fa-brands::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -8px;
  background-color: var(--White);
  transition: width 0.4s;
}

.socialIcons .fa-brands:hover::after {
  width: 100%;
}
/* ----------------MEDIA QUERY------------------ */

@media (max-width: 375px) {
  .hero {
    background-image: url("./images/mobile/image-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 40px 20px;
  }

  .logo1 {
    display: block;
  }

  nav {
  }

  .logo {
    width: 150px;
  }

  .menuIcon {
    display: block;
  }

  .navLinks {
    width: 100%;
    background-color: var(--Black);
    height: 100vh;
    top: 0;
    right: -375px;
    position: fixed;
    padding: 40px 20px;
    transition: 0.5s;
  }

  .navLinks ul {
    margin-top: 120px;
  }

  .navLinks ul li {
    display: block;
    margin: 20px 0;
  }
  .navLinks ul li a {
    font-size: 24px;
    font-weight: 300;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
  }

  .closeMenu {
    position: absolute;
    top: 45px;
    right: 20px;
  }

  .title {
    max-width: 350px;
    font-size: 42px;
    margin-top: 37%;
  }

  /* ------------Gallery------------- */
  .galleryFrame {
    padding: 20% 20px;
  }

  .galleryInfo {
    flex-direction: column;
  }

  .gallery-image {
    width: 100%;
  }

  .info-card {
    position: unset;
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .subtitle {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
  }
  .cardInfo {
    max-width: 280px;
    margin: auto;
    font-size: 15px;
    font-weight: 400px;
  }

  /* -----------------CREATIONS------------------- */
  .creationsMedia {
    padding: 0 20px 20px;
    position: relative;
  }

  .topCreations {
    flex-direction: column;
  }

  .seeBtn {
    position: absolute;
    bottom: 0;
  }

  .gallery1 {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
  }

  .gallery1:hover .coverGallery {
    height: 120px;
  }

  .frame2 {
    flex-direction: column;
    margin-bottom: 0;
  }

  .userGallery1 {
    background-image: url("./images/mobile/image-deep-earth.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .userGallery2 {
    background-image: url("./images/mobile/image-night-arcade.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .userGallery3 {
    background-image: url("./images/mobile/image-soccer-team.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  .userGallery4 {
    background-image: url("./images/mobile/image-grid.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  .userGallery5 {
    background-image: url("./images/mobile/image-from-above.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  .userGallery6 {
    background-image: url("./images/mobile/image-pocket-borealis.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  .userGallery7 {
    background-image: url("./images/mobile/image-curiosity.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  .userGallery8 {
    background-image: url("./images/mobile/image-fisheye.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
  }
  footer {
    padding: 50px 20px;
    margin-top: 20px;
  }

  .footerFrame .logo {
    width: 100px;
  }

  .footerFrame {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .footerFrame ul {
    margin-top: -20px;
  }

  .footerFrame ul li {
    display: block;
    margin: 20px;
  }

  .rightFooter {
    text-align: center;
  }

  .copyRight {
    font-size: 12px;
    font-family: "Alata", sans-serif;
    font-weight: 300;
    color: var(--Dark-Gray);
  }
}
